@import url('https://fonts.googleapis.com/css?family=Ubuntu:300');

// Font Variables
$main-font: 'Ubuntu', sans-serif;
$main-font-weight: 'light';

$primary-color: rgb(146, 26, 15);
$secondary-color: rgb(54, 207, 218);
$default-light-color: rgb(119, 119, 119);
$default-dark-color: rgb(3, 3, 3);
