// See: https://getbootstrap.com/docs/4.0/getting-started/theming

// Local
@import "_colors.scss";

// Overrides values from _variables.scss

$white: $decibels-white;

// Fonts
// Self-host Fonts
// @import url('https://fonts.googleapis.com/css?family=Ubuntu:200,300,600');
$font-family-sans-serif: 'Ubuntu', sans-serif;
$font-weight-light: 200;
$font-weight-normal: 300;
$font-weight-bold: 600;

// $font-size-base: 1rem; // Assumes the browser default, typically `16px`
// $font-size-lg:   ($font-size-base * 1.25);
// $font-size-sm:   ($font-size-base * 0.875);

@import "_fonts.scss";

// Nav
// Default padding is 0.5em.  Set to 1em so that Header.module.scss can set a negative margin on the logo
$navbar-padding-y: 1em;

// Links
$primary: $decibels-teal;
$link-hover-color: $decibels-red;

// Headings
$headings-color: $decibels-red;

// Option A: Include all of Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// // Option B: Include parts of Bootstrap

// // Required
// @import "node_modules/bootstrap/scss/functions";
// @import "node_modules/bootstrap/scss/variables";
// @import "node_modules/bootstrap/scss/mixins";

// // Optional
// @import "node_modules/bootstrap/scss/reboot";
// @import "node_modules/bootstrap/scss/type";
// @import "node_modules/bootstrap/scss/images";
// @import "node_modules/bootstrap/scss/code";
// @import "node_modules/bootstrap/scss/grid";

// Navbar
.navbar {
  font-size: $font-size-lg;
}

.btn {
  white-space: normal;
}

// Buttons
.btn-primary {
  color: $white;
  border-color: $decibels-red;

  :hover {
    color: $link-hover-color;
  }
}

.btn-primary:hover {
  color: $link-hover-color;
}

// Links
a:hover {
  color: $link-hover-color !important;
  text-decoration: none;
}
