// Self-host Fonts
// Alternative to: @import url('https://fonts.googleapis.com/css?family=Ubuntu:200,300,600');

// From: http://google-webfonts-helper.herokuapp.com/fonts/ubuntu?subsets=latin
// NOTE: This is "Best browser support".  Can switch to only modern browsers


/* ubuntu-300 - latin */
@font-face {
  font-display: auto;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: url('~styles/fonts/ubuntu-v12-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Ubuntu Light'), local('Ubuntu-Light'),
    url('~styles/fonts/ubuntu-v12-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~styles/fonts/ubuntu-v12-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('~styles/fonts/ubuntu-v12-latin-300.woff') format('woff'), /* Modern Browsers */
    url('~styles/fonts/ubuntu-v12-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('~styles/fonts/ubuntu-v12-latin-300.svg#Ubuntu') format('svg'); /* Legacy iOS */
}
/* ubuntu-300italic - latin */
@font-face {
  font-display: auto;
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: url('~styles/fonts/ubuntu-v12-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'),
    url('~styles/fonts/ubuntu-v12-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~styles/fonts/ubuntu-v12-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('~styles/fonts/ubuntu-v12-latin-300italic.woff') format('woff'), /* Modern Browsers */
    url('~styles/fonts/ubuntu-v12-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('~styles/fonts/ubuntu-v12-latin-300italic.svg#Ubuntu') format('svg'); /* Legacy iOS */
}
