@import '../../styles/_colors.scss';

.home {
  :global {
    .btn {
      border-color: $primary-color;
      background-color: $secondary-color;
    }

    .btn:hover {
      background-color: $primary-color;
    }

    h2 {
      color: $primary-color;
    }

    section {
      margin-bottom: 5em;
    }
  }
}

.sectionSplash {
  text-align: center;
  color: $primary-color;
  svg {
    height: 20em;
    fill: currentColor;
    margin-bottom: 1em;
  }
  h1 {
    font-size: 3.5rem;
    font-weight: 800;
    color: $secondary-color;
  }
}


/*
.carousel{
  img {
    max-height: 100px;
    width: initial !important;
  }
}
*/
