@import '../../styles/_colors.scss';

body {
  font-family: $main-font;
  font-weight: $main-font-weight;
  color: $default-light-color;
}

a:hover {
  color: $default-dark-color;
}

section {
  margin-bottom: 5em;
}

.section-splash {
  width: 100%;
  text-align: center;
  color: $secondary-color;
  svg {
    height: 20em;
    fill: $primary-color; // currentColor;
    margin-bottom: 1em;
  }
  h1 {
    font-size: 3.5rem;
    font-weight: 800;
  }
}

.action {
  color: $primary-color;
}



/*
.carousel{
  img {
    max-height: 100px;
    width: initial !important;
  }
}
*/
