@import '../../styles/_colors.scss';

.home {
  :global {
    section {
      margin-bottom: 5em;
    }
  }
}

.sectionSplash {
  text-align: center;
  color: $decibels-red;

  svg {
    height: 20em;
    fill: currentColor;
    margin-bottom: 1em;
  }

  h1 {
    font-size: 3.5rem;
    font-weight: 800;
    color: $decibels-teal;
  }
}
