@import '~styles/custom';

$banner-height: 35em;

:export {
  // stylelint-disable
  decibelsTeal: $decibels-teal;
  bannerHeight: $banner-height;
  // stylelint-enable
}

.home {
  :global .video-react {
    border: 1px solid $decibels-red;
  }

  :global .jumbotron {
    background-color: darken($decibels-soft-white, 7);

    &:hover {
      background-color: darken($decibels-soft-white, 2);
      transition: background-color 0.5s ease;
    }
  }
}


.banner {
  margin-bottom: 2em;
}

.overlay {
  padding-bottom: 1em;

  h1 > b {
    color: $white;
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 1em;
    margin-left: .5em;
    margin-right: .5em;
    text-shadow: 0 0 15px rgba($black, 1);
  }
}

.video-row {
  margin-top: 5em;
}


// See: https://stackoverflow.com/a/30963762/5373104
// functions to urlencode the svg string
// ... Allows a SVG to be used as the background image for divs, while injecting the color

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}

@function url-encode($string) {
  $map: (
    '%': '%25',
    '<': '%3C',
    '>': '%3E',
    ' ': '%20',
    '!': '%21',
    '*': '%2A',
    "'": '%27',
    '"': '%22',
    '(': '%28',
    ')': '%29',
    ';': '%3B',
    ':': '%3A',
    '@': '%40',
    '&': '%26',
    '=': '%3D',
    '+': '%2B',
    '$': '%24',
    ',': '%2C',
    '/': '%2F',
    '?': '%3F',
    '#': '%23',
    '[': '%5B',
    ']': '%5D'
  );
  $new: $string;
  @each $search, $replace in $map {
    $new: str-replace($new, $search, $replace);
  }
  @return $new;
}

@function inline-svg($string) {
  @return url('data:image/svg+xml;utf8,#{url-encode($string)}');
}


$watermark-color: rgba($decibels-red, .05);

.persona {
  background-repeat: no-repeat;
  background-size: 100%, auto;
}

.owner {
  background-image: inline-svg('<svg viewBox="0 -50 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path fill="#{$watermark-color}" d="M831.960005 565.689287l0 136.622922c0 14.71816-12.47844 26.620672-28.092488 26.620672l-14.07824 0L789.789276 539.068615l14.07824 0C819.481565 539.068615 831.960005 550.907135 831.960005 565.689287zM625.713786 539.068615l148.973378 0 0 189.864267-148.973378 0 0-189.864267ZM721.573803 506.94463c6.015248 0 10.622672 4.47944 10.622672 10.110736s-4.607424 10.110736-10.622672 10.110736l-63.992001 0c-5.631296 0-10.622672-4.47944-10.622672-10.110736 0-2.815648 1.27984-5.375328 3.135608-7.103112 1.855768-1.855768 4.607424-3.007624 7.487064-3.007624L721.573803 506.94463zM610.419698 539.068615l0 189.864267L593.013873 728.932882c-15.614048 0-28.092488-11.902512-28.092488-26.620672L564.921385 565.689287c0-14.654168 12.47844-26.620672 28.092488-26.620672L610.419698 539.068615zM534.205224 601.076864 578.551681 986.372702 534.205224 998.019246 472.964879 705.639793ZM484.48344 653.166353c-56.888889 98.48369-56.888889 98.48369-56.888889 98.48369L427.594551 1023.999998 363.92251 1023.999998l-30.652168-292.571429c0 0 3.135608-43.514561 30.652168-107.186602s49.657793-124.656418 49.657793-124.656418L388.23947 499.58555 366.674166 588.086488l-33.403825-39.035121c0 0 0-185.448819 0-289.755781 0-51.641545 20.029496-78.390201 39.675041-92.212473 3.135608 8.254968 8.766904 15.422072 16.893888 20.221472 3.455568 2.111736 7.487064 3.583552 11.51856 4.543432l-26.87664 112.625922 33.403825 66.615673 45.626297-69.559305-36.475441-108.978378c12.7984-1.791776 25.340832-9.086864 32.827897-20.7974 3.135608-4.7994 5.311336-9.91876 6.591176-15.166104C501.697288 163.627545 570.424697 181.225345 595.765529 224.419946c39.035121 66.615673 61.624297 115.889514 61.624297 115.889514L657.389826 490.94663l-41.594801 0L595.765529 360.594924l-53.113361-63.800025 0 208.677915C542.652168 505.408822 541.692288 554.682663 484.48344 653.166353zM314.840645 76.726408a1.26 1.199 0 1 0 161.259843 0 1.26 1.199 0 1 0-161.259843 0ZM319.192101 380.560428 287.324084 394.382701 192.039995 406.925133 192.039995 377.936756 275.485564 345.42882 319.192101 305.433819Z" /></svg>');
}

.manager {
  background-image: inline-svg('<svg viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path fill="#{$watermark-color}" d="M521.216 56.32c-57.856 0-104.96 47.104-104.96 104.96S463.36 266.24 521.216 266.24s104.96-47.104 104.96-104.96S579.072 56.32 521.216 56.32z m246.272 99.84c-46.592 0-83.968 37.376-83.968 83.968 0 46.592 37.376 83.968 83.968 83.968s83.968-37.888 83.968-83.968c0-46.592-37.376-83.968-83.968-83.968z m-402.944 427.008l-1.536 26.624v1.024l17.92 307.2H300.544l-13.312-261.632h-34.304l-16.384 261.632H161.28l11.776-307.2L167.424 486.4l-69.12 98.816-33.792-27.648 98.304-217.088H220.16l54.784 65.024L327.68 340.992h44.032l20.992-48.128h109.568l-8.192 13.824 10.752 22.016-23.552 168.96 36.864 37.376v3.072l1.536-1.536 1.536 1.536v-3.072l36.864-37.376-23.552-168.96 10.752-22.016-8.192-13.824h110.592l14.848 48.128h51.2l54.784 65.024 53.248-65.024h48.64l91.136 202.24-36.352 31.232-60.928-102.4-7.168 138.24v1.024l17.92 307.2h-80.384l-13.312-261.632H747.52l-16.384 261.632h-75.264l11.776-307.2-1.024-22.016-31.232 26.112 13.824 367.104h-90.112l-19.968-312.832h-40.96l-15.872 312.832H387.072l20.992-367.104-43.52-32.256zM272.896 156.16c-46.592 0-83.968 37.376-83.968 83.968 0 46.592 37.888 83.968 83.968 83.968 46.592 0 83.968-37.888 83.968-83.968 0.512-46.592-37.376-83.968-83.968-83.968z"/></svg>');
}
