@import '~styles/custom';

.home {
  :global .video-react {
    border: 1px solid $decibels-red;
  }

  :global .jumbotron:hover {
    background-color: $decibels-soft-white !important;
    transition: background-color 0.5s ease;
  }
}


.banner {
  margin-bottom: 2em;

  h1 {
    margin-bottom: 2em;
    text-shadow: 0 0 25px rgba(255, 255, 255, 1);
  }

  :global .card {
    background-color: rgba($decibels-soft-white, 0.9);
    border-radius: 2em;
    padding: 0.25em;
  }
}

.video-row {
  margin-top: 5em;
}
