@import '~styles/custom';

.home {
  :global .video-react {
    border: 1px solid $decibels-red;
  }

  :global .jumbotron {
    background-color: darken($decibels-soft-white, 7);
  }

  :global .jumbotron:hover {
    background-color: darken($decibels-soft-white, 2);
    transition: background-color 0.5s ease;
  }
}


.banner {
  margin-bottom: 2em;
}

.overlay {
  padding-bottom: 1em;

  h1 > b {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 1em;
    margin-left: .5em;
    margin-right: .5em;
    text-shadow: 0 0 15px rgba(0, 0, 0, 1);
  }
}

.video-row {
  margin-top: 5em;
}
