@import '~styles/custom';

.home {
  :global {
    section {
      margin-bottom: 5em;
    }
  }
}

.section-splash {
  color: $decibels-red;
  text-align: center;

  svg {
    fill: currentColor;
    height: 20em;
    margin-bottom: 1em;
  }

  h1 {
    color: $decibels-teal;
    font-size: 3.5rem;
    font-weight: 800;
  }
}

.video-row {
  margin-top: 5em;
}
