@import '~styles/custom';

.home {
  blockquote {
    background: #f9f9f9;
    border-left: 10px solid $decibels-red;
    font-size: 2rem;
    margin: 1.5em 10px;
    margin-top: 0;
    padding: 0.5em 10px;
    quotes: '\201C''\201D''\2018''\2019';
  }

  blockquote:before {
    color: $decibels-light-grey;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  blockquote p {
    display: inline;
  }
}

.section-splash {
  background-image: url('/teal-mountains.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  min-height: 6rem;
  position: relative;
  text-align: center;

  h1 {
    bottom: 10vh;
    color: $decibels-red;
    font-size: 3rem;
    font-weight: 800;
    position: absolute;
    width: 100%;
  }
}

.section-get-started {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.video-row {
  margin-top: 5em;
}
