@import '~styles/custom';

.home {
  :global .video-react {
    border: 1px solid $decibels-red;
  }

  :global .jumbotron:hover {
    background-color: $decibels-soft-white !important;
    transition: background-color 0.5s ease;
  }
}


.banner {
  margin-bottom: 2em;

  h1 {
    margin-bottom: 2em;
  }
}

.video-row {
  margin-top: 5em;
}
