@import '~styles/custom';

.home {

  // :global {
  //   .jumbotron:hover {
  //     background-color: #f9f9f9 !important;
  //     transition: background-color 0.5s ease;
  //   }
  // }
}


.banner {
  margin-bottom: 2em;

  h1 {
    margin-bottom: 2em;
  }
}

.video-row {
  margin-top: 5em;
}
