@import '~styles/custom';

$decibels-footer-spacing: 10em;

.footer-spacing {
  margin-bottom: $decibels-footer-spacing;
}

.footer {
  background-color: $decibels-dark-grey;
  padding-top: 2em;

  b {
    font-weight: 800;
  }

  hr {
    border-color: $decibels-light-grey;
  }

  :global .navbar {
    padding: 0 !important;
  }
}

.site-map {
  color: $decibels-soft-white;
  line-height: 1.5;

  ul {
    list-style: none;
    padding: 0;

    ul {
      padding-left: 1em;
    }
  }

  a {
    color: $decibels-soft-white;
  }

  a:hover {
    color: $decibels-teal !important;
  }
}

.bottom {
  li {
    color: $decibels-soft-white;
  }

  li a {
    color: $decibels-soft-white;
  }
}
