@import '~styles/custom';

.footer-spacing {
  height: $decibels-footer-height;
  margin-bottom: $decibels-footer-height;
}

.footer {
  background-color: $white;
  height: $decibels-footer-height;
  padding: 0;
}
