@import '~styles/custom';

$decibels-footer-spacing: 15em;

.footer-spacing {
  margin-bottom: $decibels-footer-spacing;
}

.footer {
  background-color: $decibels-dark-grey;
  padding-top: 2rem;

  b {
    font-weight: 800;
  }

  li {
    color: $decibels-light-grey;
  }

  li a {
    color: $decibels-light-grey;
  }

  hr {
    border-color: $decibels-red;
  }

  :global .navbar {
    padding: 0 !important;
  }
}
