@import '~styles/custom';

$decibels-footer-height: 20em;
$decibels-footer-spacing: 5em;

.footer-spacing {
  margin-bottom: $decibels-footer-spacing;
}

.footer {
  background-color: $decibels-dark-grey;
  height: $decibels-footer-height;
  padding: 0;

  li {
    color: $decibels-light-grey;
  }

  li a {
    color: $decibels-light-grey;
  }
}
