$assessment-height: 600px;
$control-width: 2em;

.carousel {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.carousel :global {
  .carousel-inner {
    // See: https://github.com/reactstrap/reactstrap/issues/677
    // Eventually this will be fixed in reactstrap and this can be removed
    height: $assessment-height;
  }

  .carousel-item {
    height: calc(#{$assessment-height} - 50px);
    overflow-y: auto;
    padding: 30px;
    padding-bottom: 40px;

    h2 {
      // color: $decibels-red;
      text-align: center;
    }
  }

  // Changed the "fill" color from white to $decibels-teal
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2336cfda' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2336cfda' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

  .carousel-indicators li {
    // background-color: $decibels-dark-grey;
    cursor: default;
  }

  .carousel-indicators .active {
    // background-color: $decibels-red;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: $control-width;
  }

  :export {
    var-control-width: $control-width;
  }
}
