@import '~styles/custom';

.carousel :global {
  .carousel-inner {
    // See: https://github.com/reactstrap/reactstrap/issues/677
    // Eventually this will be fixed in reactstrap and this can be removed
    height: 550px;
  }

  .carousel-item {
    background-color: $decibels-dark-grey;
    height: 600px;
    padding: 30px;
    padding-bottom: 40px;

    @include media-breakpoint-up(sm) {
      h2 {
        height: 3em;
      }
    }

    h2 {
      color: $decibels-teal;
      text-align: center;
    }
  }
}

.register {
  background-color: $white;
  border-radius: .5em;
  margin-left: 10%;
  margin-right: 10%;
  padding: 1em;
}
