@import '../../styles/_colors.scss';

.footer {
  background-color: white;

  a {
    color: $secondary-color;
  }

  a:hover {
    color: $default-dark-color;
    color: blue;
    text-decoration: none;
  }
}
