@import '~styles/custom';

.mini-brand {
  color: $decibels-teal;

  svg {
    fill: $decibels-red;
    height: 2em;
    margin-top: -0.5em;
  }
}

.header {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.brand {
  padding-left: 0 !important;
}

.tel {
  padding-right: 0 !important;
}

.buttons {
  padding-right: 0 !important;
}
