@import '~styles/custom';

.mini-brand {
  color: $decibels-red;

  svg {
    fill: $decibels-red;
    height: 2em;
    margin-top: -0.5em;
  }
}

.nav-action {
  margin-right: 40px;
}

.login {
  width: 200px;
}
