@import '~styles/custom';

.quote {
  blockquote {
    background: $decibels-soft-white;
    font-size: 1em;
    margin: 1.5em 10px;
    margin-top: 0;
    padding: 0.5em 10px;
  }

  color: $decibels-red !important;
}

.left {
  border-left: 10px solid $decibels-red;
}

.right {
  border-right: 10px solid $decibels-red;
}

.glyph {
  color: $decibels-light-grey;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

// .quote {
//   color: red;
//   font-size: 1rem;
// }

// @include media-breakpoint-up(sm) {
//   .quote {
//     color: green;
//     font-size: 1.2rem;
//   }
// }

// @include media-breakpoint-up(md) {
//   .quote {
//     color: blue;
//     font-size: 1.4rem;
//   }
// }

// @include media-breakpoint-up(lg) {
//   .quote {
//     color: yellow;
//     font-size: 2em;
//   }
// }
