@import '../../styles/_colors.scss';

.panel {
  padding: 30px;
  padding-bottom: 40px;
  background-color: #333;
  height: 500px;

  h2 {
    color: $helix-teal;
    height: 120px;
    text-align: center;
  }
}

.buttons {
  padding-right: 15%;
  padding-left: 15%;
}

.knob {
  height: 250px !important;
  width: 250px !important;
}
