@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import '../../styles/_colors.scss';

// $slider-height: 20px;
// $slider-padding: 10px;
$slider-height: 1.25em;
$slider-padding: .75em;


.carousel :global .carousel-inner {
  // See: https://github.com/reactstrap/reactstrap/issues/677
  // Eventually this will be fixed in reactstrap and this can be removed
  height: 450px;
}


.panel {
  background-color: $decibels-dark-grey;
  height: 500px;
  padding: 30px;
  padding-bottom: 40px;

  @include media-breakpoint-up(sm) {
    h2 {
      height: 3em;
    }
  }

  h2 {
    color: $decibels-teal;
    height: 5em;
    text-align: center;
  }
}

.question :global {
  .rc-slider-rail {
    height: $slider-height;
  }

  .rc-slider-track {
    height: $slider-height;
  }

  .rc-slider-handle {
    height: calc(#{$slider-height} + #{$slider-padding});
    margin-top: -5px;
    width: calc(#{$slider-height} + #{$slider-padding});
  }

  .rc-slider {
    height: calc(#{$slider-height} + #{$slider-padding});
    margin-top: calc(#{$slider-padding} / 2);
  }

  .rc-slider-disabled {
    background-color: $decibels-red;
  }
}

.control-row {
  padding-left: 15%;
  padding-right: 15%;
}

.volume {
  background-color: $decibels-red;
  border: 2px solid $decibels-light-grey;
  border-radius: 50%;
  font-size: 100px;
  line-height: 120px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
  width: 120px;
}

.vol-muted {
  background-color: $decibels-light-grey !important;
}

.vol1 {
  color: lighten($decibels-teal, 5%);
}

.vol2 {
  color: lighten($decibels-teal, 10%);
}

.vol3 {
  color: lighten($decibels-teal, 15%);
}

.vol4 {
  color: lighten($decibels-teal, 20%);
}

.vol5 {
  color: lighten($decibels-teal, 25%);
}

.vol6 {
  color: lighten($decibels-teal, 30%);
}

.vol7 {
  color: lighten($decibels-teal, 35%);
}

.vol8 {
  color: lighten($decibels-teal, 40%);
}

.vol9 {
  color: lighten($decibels-teal, 45%);
}

.vol10 {
  color: lighten($decibels-teal, 50%);
}

.vol11 {
  color: lighten($decibels-teal, 55%);
}

