// See: https://getbootstrap.com/docs/4.0/getting-started/theming

$decibels-red: rgb(146, 26, 15);
$decibels-teal: rgb(54, 207, 218);
$decibels-soft-white: rgb(249, 249, 249);
$decibels-light-grey: rgb(100, 100, 100);
$decibels-dark-grey: rgb(50, 50, 50);

// Overrides values from Bootstrap's _variables.scss
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

// Fonts - Fonts are already imported into index.js
$font-family-sans-serif: 'Ubuntu', sans-serif;
$font-weight-light: 200;
$font-weight-normal: 300;
$font-weight-bold: 800;

$line-height-base: 1.75;

// Links
$primary: $decibels-teal;
$link-hover-color: $decibels-red;

$secondary: $decibels-red;

// Headings
$headings-color: $decibels-red;

/* stylelint disable property-no-unknown */
:export {
  var-font-family-sans-serif: $font-family-sans-serif;
  var-font-weight-bold: $font-weight-bold;
  var-font-weight-light: $font-weight-light;
  var-font-weight-normal: $font-weight-normal;
  var-primary: $decibels-teal;
  var-secondary: $decibels-red;
  var-white: $white;
}
/* stylelint enable */
