// See: https://getbootstrap.com/docs/4.0/getting-started/theming

$decibels-red: rgb(146, 26, 15);
$decibels-teal: rgb(54, 207, 218);
$decibels-soft-white: rgb(249, 249, 249);
$decibels-light-grey: rgb(100, 100, 100);
$decibels-dark-grey: rgb(50, 50, 50);

// Overrides values from _variables.scss


// Fonts - Fonts are already imported into index.js
$font-family-sans-serif: 'Ubuntu', sans-serif;
$font-weight-light: 200;
$font-weight-normal: 300;
$font-weight-bold: 800;

$line-height-base: 1.75;

// Links
$primary: $decibels-teal;
$link-hover-color: $decibels-red;

// Headings
$headings-color: $decibels-red;

// Option A: Include all of Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';

// // Option B: Include parts of Bootstrap

// // Required
// @import "node_modules/bootstrap/scss/functions";
// @import "node_modules/bootstrap/scss/variables";
// @import "node_modules/bootstrap/scss/mixins";

// // Optional
// @import "node_modules/bootstrap/scss/reboot";
// @import "node_modules/bootstrap/scss/type";
// @import "node_modules/bootstrap/scss/images";
// @import "node_modules/bootstrap/scss/code";
// @import "node_modules/bootstrap/scss/grid";

b {
  font-weight: $font-weight-bold;
}

// Navbar
.navbar {
  font-size: $font-size-lg;
}

.btn {
  white-space: normal;
}

// Buttons
.btn-primary {
  border-color: $decibels-red;
  color: $white;

  :hover {
    color: $link-hover-color;
  }
}

.btn-primary:hover {
  color: $link-hover-color;
}

// Links
a:hover {
  color: $link-hover-color !important;
  text-decoration: none;
}
