@import './custom';

// Option A: Include all of Bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap';

// // Option B: Include parts of Bootstrap

// // Required
// @import "node_modules/bootstrap/scss/functions";
// @import "node_modules/bootstrap/scss/variables";
// @import "node_modules/bootstrap/scss/mixins";

// // Optional
// @import "node_modules/bootstrap/scss/reboot";
// @import "node_modules/bootstrap/scss/type";
// @import "node_modules/bootstrap/scss/images";
// @import "node_modules/bootstrap/scss/code";
// @import "node_modules/bootstrap/scss/grid";

b {
  font-weight: $font-weight-bold;
}

// // Navbar
// .navbar {
//   font-size: $font-size-lg;
// }

// .btn {
//   white-space: normal;
// }

// // Buttons
// .btn-primary {
//   border-color: $decibels-red;
//   color: $white;

//   &:hover {
//     color: $link-hover-color;
//   }
// }

// Links
a:hover {
  // color: $link-hover-color !important;
  text-decoration: none;
}

